
<div class="row">
  <header class="title col-md-12">Welcome to PickABook!</header>
</div>

<div class="row">
<p class="bodyText col-md-12">So glad you could stop by! I'm guessing you've probably finished whatever you were reading before, and the time has come to move on to your next book. This can be an overwhelming prospect, given the volume of volumes in the world.<br></p>
</div>

<div class="row">
  <div class="giphy col-md-12">
    <iframe src="//giphy.com/embed/6sUV2zvNzjqbS" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/book-6sUV2zvNzjqbS"></a></p>
  </div>
</div>

<div class="row">
<p class="bodyText col-md-12"><br>That's where we come in! We'll ask you a few questions, do some magic, and send a suggestion your way. From there, you can do what you want with it. Ready to get started? Lesgo!</p>
</div>

<div class="row">
  <div class="col-md-12 button">
    <a href="/books/1" class="btn btn-info" role="button">Let's get started!</a>
  </div>
</div>
