<h1>Welcome to PickABook!</h1>


<p>So glad you could stop by! I'm guessing you've probably finished whatever you were reading before, and the time has come to move on to your next book. This can be an overwhelming prospect, given the volume of volumes in the world.<br>

<br>That's where we come in! We'll ask you a few questions, do some magic, and send a suggestion your way. From there, you can do what you want with it. Ready to get started? Lesgo!</p>

<a href="/books/1">Let's get started!</a>
