// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @mixin textstyles {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-right: 3px;
    margin-left: 3px;
 }

 .title {
  font-family: 'IM Fell English SC', serif;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #666633;
 }

.button {
  @include textstyles;
  margin-bottom: 3%;
}

h2.bookTitle {
  font-weight: 400;
  @include textstyles;
}

h3.author {
  @include textstyles;
}

.rating {
  @include textstyles;
}

.bodyText {
  @include textstyles;
}

.giphy {
  text-align: center;
}

.redirect {
  @include textstyles;
}

.bookPreview {
  width: 600px;
  height: 500px;
}

.reviews {
  text-align: center;
}
